.ModelHeader{
   background:#4B6F90;
   position:fixed;
   width:100%;
   z-index: 15;
   left:0;
   top:0;
   padding-top:35px;
   transform: translateX(100vw);
   transition: transform 450ms ease-in-out;
   &.open-3Dpage{
     transform: translateX(0);
   }
}

.carouselContainer2{
  display:block;
  margin-left:8%;
  margin-right:8%;
  margin-bottom: 2vh;
  position: absolute;
  z-index: 15;
}

.Container2{
  position:fixed;
  z-index: 6;
  background-color: #4B6F90;
  opacity: 50%;
  height: 100%;
  width:90%;
  top:0;
  left:5%;
  transform: translateX(100vw);
  transition: transform 450ms ease-in-out;
  &.open-3Dpage{
    transform: translateX(0);
  }
}

.city{
  width:90%;
  left:5%;
  position: relative;
  z-index: 15;
  top:0;
}

.pics-left{
  margin:0.5vh 0;
  left:0;
  display:inline-block;
  width:50%;
  left:0;
  position: relative;
  z-index: 10;
  margin-right: 1%;
}

.pics-right{
  margin:1vh 0;
  display:inline-block;
  width:47%;
  right:0;
  position: relative;
  z-index: 10;
}

.modelInfo{
    position:absolute;
    z-index: 9;
    display:block;
    top:6vh;
    width:100%;
    padding-top:5vh;
    transform: translateX(100vw);
    transition: transform 450ms ease-in-out;
    &.open-3Dpage{
      transform: translateX(0);
    }
}

.line2{
  height: 2px;
  width: 80%;
  background: white;
  opacity: 20%;
  margin-left: 10%;
  display:block;
  margin-bottom:1.5vh;
}

.content2{
  display:block;
  color:white;
  font-size: 16px;
  font-family:PingFangSC-Regular,san-serif;
  margin-left:11%;
  line-height:30px;
  margin-right:11%;
  margin-bottom: 2vh;
}

.orange{
  color: #ECB88C;
}

.card{
  margin-top:5vh;
}

.location{
  text-transform : uppercase;
  font-size: 20px;
  font-family: PingFangSC-Semibold,san-serif;
}

.card{
  opacity: 0.7;
}

.card-title{
  color:black;
  font-size: 18px;
}

.card-header{
  color:black;
  font-size: 18px;
}

.card-text{
  color:black;
  font-size: 18px;
}
