menu {
  top: -16px;
  position: fixed;
  z-index: 20;
  background-color: #394364;
  transition: transform 450ms ease-in-out;
  &.open-menu {
    transform: translateX(300px);
  }
}

.hamburger-menu {
  position: fixed;
  z-index: 4;
  width: 100;
  top: 2vh;
  left: 3vw;
  padding: 2vw;
  margin: 0;
}

.Sidebar-nav {
  position: absolute;
  z-index: 6;
  width: 300px;
  height: 100vh;
  top: 0;
  left: 0;
  background: #1D243B;
  padding: 0 10px;
  transform: translateX(-300px);
}

.Showcase-nav {
  list-style: none;
  margin-top: 120px;
  margin-left: 15px;
  padding: 0;
  transition: margin-left 150ms ease-in-out;
}

.nav-items {
  position: relative;
  display: block;
  color: #C0CCF5;
  font-size: 18px;
  font-family: PingFangSC-Mediem, san-serif;
  text-transform: uppercase;
  float: right;
  margin: 0 2vh 6vh 0;
  transition: color 300ms ease-in-out, font-size 300ms ease-in-out, margin-left 300ms ease-in-out, font-family 300ms ease-in-out, text-shadow 300ms ease-in-out;
  &:hover {
    color: white;
    margin-left: 5px;
    font-size: 19.5px;
    text-decoration: none;
    font-family: PingFangSC-Semibold, san-serif;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
  }
}

.close {
  padding: 20px 20px 20px 240px;
  border-bottom: 1px solid white;
}

.Game {
  margin-bottom: 6vh;
}

.secondary-trigger {
  width: 20px;
  height: 20px;
  margin-bottom: 0;
  &.rotate {
    transform: rotate(90deg);
  }
  &.trigger2Move {
    animation: gap 0.01s alternate forwards;
  }
  @keyframes gap {
    from {
      margin-bottom: 0;
    }
    to {
      margin-bottom: 16vh;
    }
  }
}

.Photo {
  position: absolute;
  display: inline-block;
  margin-bottom: 6vh;
  margin-left: 10vh;
  width:200px;
  text-align: right;
}

.secondary-trigger2 {
  margin-top: 19vh;
  position: absolute;
  width: 20px;
  height: 20px;
  display: inline-block;
  &.rotate2 {
    transform: rotate(90deg);
  }
}

.Secondary1 {
  font-family: PingFangSC-Regular, san-serif;
  font-size: 16px;
  margin-top: 10px;
  list-style: none;
  width: 100%;
  li {
    padding: 1vh 0;
    float: left;
  }
}

.Secondary2 {
  font-family: PingFangSC-Regular, san-serif;
  font-size: 16px;
  margin-top: 10px;
  list-style: none;
  margin-right: 38px;
  li {
    padding: 1vh 0;
    float: left;
  }
}

.is-hidden1 {
  display: none;
}

.is-hidden2 {
  display: none;
}

.sub {
  color: #C0CCF5;
  text-decoration: none;
}
