.Contact {
  font-family: PingFangSC-Regular, san-serif;
  font-size: 4vw;
  left: 68vw;
  padding-left: 6vw;
  padding-right: 6vw;
  transition: margin-bottom 150ms ease-in-out, font-family 150ms ease-in-out, text-shadow 150ms ease-in-out;
  &:hover {
    margin-bottom: 0.8vh;
    color: white;
    text-decoration: none;
    font-family: PingFangSC-Semibold, san-serif;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
  }
}

.About {
  font-family: PingFangSC-Regular, san-serif;
  font-size: 4vw;
  left: 34vw;
  padding-left: 9.3vw;
  padding-right: 9.3vw;
  transition: margin-bottom 150ms ease-in-out, font-family 150ms ease-in-out, text-shadow 150ms ease-in-out;
  &:hover {
    margin-bottom: 0.8vh;
    color: white;
    text-decoration: none;
    font-family: PingFangSC-Semibold, san-serif;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
  }
}

.Home {
  font-family: PingFangSC-Regular, san-serif;
  font-size: 4vw;
  left: 0px;
  padding-left: 10vw;
  padding-right: 10vw;
  transition: margin-bottom 150ms ease-in-out, font-family 150ms ease-in-out, text-shadow 150ms ease-in-out;
  &:hover {
    margin-bottom: 0.8vh;
    color: white;
    text-decoration: none;
    font-family: PingFangSC-Semibold, san-serif;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
  }
}

nav ul li a {
  position: fixed;
  z-index: 5;
  bottom: 0;
  text-decoration: none;
  color: white;
  font-size: 4.5vw;
  padding: 5vh;
  opacity: 1;
}

.nav-disappear {
  animation: remove-nav 1s ease-in-out alternate forwards;
}

@keyframes remove-nav {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.Homebar {
  background: #DA4F5C;
  position: fixed;
  z-index: 4;
  width: 33vw;
  height: 11vh;
  left: 0;
  bottom: 0;
  transform: translateY(8vh);
}

.Aboutbar {
  background: #F1CC65;
  position: fixed;
  z-index: 4;
  width: 34vw;
  height: 11vh;
  left: 33vw;
  bottom: 0;
  transform: translateY(8vh);
}

.Contactbar {
  background: #44AB9F;
  position: fixed;
  z-index: 4;
  width: 33vw;
  height: 11vh;
  left: 67vw;
  bottom: 0;
  transform: translateY(8vh);
}

.fontActivated {
  animation: font-clicked 0.4s ease-in-out alternate forwards;
}

@keyframes font-clicked {
  from {
    margin-bottom: 0;
    font-family: PingFangSC-Regular, san-serif;
    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
  to {
    margin-bottom: 0.8vh;
    font-family: PingFangSC-Semibold, san-serif;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
  }
}

.Click-navbars {
  animation: activate-Navbar 0.4s ease-in-out alternate forwards;
}

@media (min-width: 600px) {
  .Click-navbars {
    animation: activate-Navbar2 0.4s ease-in-out alternate forwards;
  }
}

@keyframes activate-Navbar {
  from {
    transform: translateY(8vh);
  }
  to {
    transform: translateY(0vh);
  }
}

@keyframes activate-Navbar2 {
  from {
    transform: translateY(8vh);
  }
  to {
    transform: translateY(0vh);
    height: 100px;
  }
}

@media(min-width:768px) {
  .Contact {
    font-size: 30px;
    left: 67vw;
    padding-left: 10.5vw;
    padding-right: 10.5vw;
  }
  .Home {
    font-size: 30px;
    left: 0px;
    padding-left: 12.8vw;
    padding-right: 12.8vw;
  }
  .About {
    font-size: 30px;
    left: 33vw;
    padding-left: 12.6vw;
    padding-right: 12.6vw;
  }
}
