.PersonalInfo {
  position: absolute;
  z-index: 2;
  right: 7vw;
  color: white;
  top: 30vh;
  padding-bottom: 20vh;
  width: 74vw;
  transform: scale(0);
}

.Myphoto {
  position: fixed;
  z-index: 0;
  top: 0;
  width: 100%;
  right: 0px;
  opacity: 0;
}

.Maskmove-About {
  position: fixed;
  z-index: 3;
  bottom: 0;
  width: 100%;
  height: 22vh;
  opacity: 0;
}

.Aboutme-appear {
  animation: Infoappear 0.5s ease-in-out alternate forwards;
}

@keyframes Infoappear {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.Aboutme-appear2 {
  animation: picAppear 0.5s ease-in-out alternate forwards;
}

@keyframes picAppear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.Abouth1 {
  font-size: 5.5vw;
  font-family: PingFangSC-Semibold, san-serif;
  color: white;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
  line-height: 15vw;
  display: block;
  margin-bottom: 5vw;
  border-bottom: 0.6vw solid #F1CC65;
  width: 74vw;
}

.Abouth2 {
  font-size: 4.5vw;
  font-family: PingFangSC-Semibold, san-serif;
  color: white;
  line-height: 6vw;
  display: block;
  padding-bottom: 1.2vw;
}

.Abouth3 {
  font-size: 3.8vw;
  font-family: PingFangSC-Regular, san-serif;
  color: white;
  line-height: 6vw;
  display: block;
}

.S1 {
  display: block;
  padding-bottom: 10vw;
}

.S2 {
  display: block;
  margin-bottom: 5vw;
}

.Softwares {
  font-size: 4vw;
  font-family: PingFangSC-Regular, san-serif;
  color: white;
  line-height: 4vh;
  display: inline-block;
  margin: 3vw;
  width: 50vw;
}

.rate {
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
  text-align: right;
  display: inline-block;
  font-size: 4vw;
  font-family: PingFangSC-Regular, san-serif;
  color: white;
}

.rate2 {
  opacity: 0;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
  text-align: right;
  display: inline-block;
  font-size: 0vw;
  font-family: PingFangSC-Regular, san-serif;
  color: white;
}

.Skills {
  display: inline-block;
  vertical-align: middle;
  width: 12vw;
  height: 12vw;
}

.Bar {
  width: 60vw;
  height: 3vw;
  display: inline-block;
  margin: 3vw 3vw 0 0;
}

.Skills {
  display: inline-block;
  vertical-align: middle;
  width: 12vw;
  height: 12vw;
}

.skillstext {
  font-size: 5.5vw;
  font-family: PingFangSC-Semibold, san-serif;
  color: white;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
  line-height: 15vw;
  display: block;
  margin-bottom: 5vw;
  border-bottom: 0.6vw solid #F1CC65;
  width: 74vw;
}

@media(min-width:768px) {
  .PersonalInfo {
    position: fixed;
    z-index: 3;
    right: 0;
    top: 8%;
    padding-bottom: 0;
    width: 75vw;
  }
  .Bar {
    width: 18vw;
    height: 1.2vw;
    display: inline-block;
    margin: 1vw 1vw 0 0;
  }
  .rate {
    font-size: 0vw;
  }
  .Skills {
    display: inline-block;
    vertical-align: middle;
    width: 4vw;
    height: 4vw;
  }
  .Abouth1 {
    font-size: 2vw;
    line-height: 5vw;
    margin-bottom: 2vw;
    border-bottom: 0.3vw solid #F1CC65;
    width: 26.3vw;
  }
  .Abouth2 {
    font-size: 2vw;
    line-height: 1vw;
    display: block;
    padding-bottom: 1.2vw;
  }
  .Abouth3 {
    font-size: 1.6vw;
    font-family: PingFangSC-Regular, san-serif;
    color: white;
    line-height: 2vw;
    padding-bottom: 0.5vw;
    display: block;
  }
  .S1 {
    display: inline-block;
    padding-bottom: 0;
    padding-right: 5vw;
  }
  .S2 {
    display: inline-block;
    margin-right: 5.5vw;
    margin-bottom: 0;
    width: 14vw;
  }
  .skillstext {
    font-size: 2vw;
    line-height: 5vw;
    margin-bottom: 2vw;
    border-bottom: 0.3vw solid #F1CC65;
    width: 58vw;
  }
  .Softwares {
    font-size: 0vw;
    line-height: 2vh;
    margin: 0;
    width: 6vw;
  }
  .rate2 {
    opacity: 1;
    font-size: 1.5vw;
  }
}
