.Contact-details {
  position: fixed;
  z-index: 6;
  right: 7vw;
  color: white;
  bottom: 20vh;
  opacity: 0;
}

h1 {
  font-size: 5.5vw;
  font-family: PingFangSC-Semibold, san-serif;
  color: white;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
  line-height: 7vw;
  display: block;
  margin-bottom: 5vw;
  border-bottom: 0.6vw solid;
  width: 74vw;
}

p {
  font-size: 3.8vw;
  font-family: PingFangSC-Regular, san-serif;
  color: white;
  line-height: 6vw;
  display: block;
}

@media(min-width:768px) {
  .Contact-details {
    right: 18vw;
    bottom: 28vh;
  }
  h1 {
    font-size: 4vw;
    line-height: 10vh;
    margin-bottom: 3vh;
    border-bottom: 0.3vw solid #44AB9F;
    width: 50vw;
  }
  p {
    font-size: 2.5vw;
    line-height: 6vh;
  }
}
