.video1 {
  position: absolute;
  left: 5%;
  width: 90%;
  z-index: 10;
  transform: translateX(100vw);
  transition: transform 450ms ease-in-out;
  &.open-Gamepage {
    transform: translateX(0);
  }
}

.Game-info {
  position: absolute;
  z-index: 9;
  display: block;
  top: 50%;
  width: 100%;
  padding-top: 5vh;
  transform: translateX(100vw);
  transition: transform 450ms ease-in-out;
  &.open-Gamepage {
    transform: translateX(0);
  }
}

.Container {
  position: fixed;
  z-index: 7;
  background-color: #4B6F90;
  opacity: 50%;
  height: 100%;
  width: 90%;
  top: 0;
  left: 5%;
  transform: translateX(100vw);
  transition: transform 450ms ease-in-out;
  &.open-Gamepage {
    transform: translateX(0);
  }
}

.blur-bg {
  position: fixed;
  z-index: 6;
  top: -1vh;
  height: 120%;
  width: 100%;
  right: 0px;
  transform: translateX(100vw);
  transition: transform 450ms ease-in-out;
  &.open-Gamepage {
    transform: translateX(0);
  }
  &.open-3Dpage {
    transform: translateX(0);
  }
  &.open-Photo {
    transform: translateX(0);
  }
}

.gameHeader {
  background: #4B6F90;
  position: fixed;
  width: 100%;
  z-index: 13;
  left: 0;
  top: 0;
  padding-top: 35px;
  transform: translateX(100vw);
  transition: transform 450ms ease-in-out;
  &.open-Gamepage {
    transform: translateX(0);
  }
}

h3 {
  font-size: 20px;
  font-family: PingFangSC-Semibold, san-serif;
  color: white;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
  display: inline-block;
  margin-left: 3vw;
}

.carouselContainer {
  display: block;
  margin-left: 8%;
  line-height: 30px;
  margin-right: 8%;
  margin-bottom: 2vh;
  position: absolute;
  z-index: 13;
}

.back {
  display: inline-block;
  margin-bottom: 8px;
  margin-left: 3vw;
}

h4 {
  width: 100%;
  font-size: 16px;
  line-height: 25px;
  font-family: PingFangSC-Regular, san-serif;
  color: white;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
  display: block;
  margin-bottom: 2vh;
  margin-top: 2vh;
}

.line {
  height: 2px;
  width: 80%;
  background: white;
  opacity: 20%;
  margin-left: 10%;
  display: block;
  margin-bottom: 1.5vh;
}

.content {
  display: block;
  color: white;
  font-size: 16px;
  font-family: PingFangSC-Regular, san-serif;
  margin-left: 11%;
  line-height: 30px;
  margin-right: 11%;
  margin-bottom: 2vh;
}

.blue {
  color: #8AF6FA;
}
