.intro {
  position: fixed;
  z-index: 4;
  left: 20%;
  color: white;
  bottom: 12%;
  opacity: 0;
}

.p1 {
  line-height: 7vw;
  display: block;
  margin-bottom: 1.1vh;
  font-size: 5vw;
  font-family: PingFangSC-Regular, san-serif;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
}

.p2 {
  display: block;
  line-height: 9vw;
  font-size: 7vw;
  font-family: PingFangSC-Semibold, san-serif;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
}

.Textmask {
  animation: appear 2s ease-in-out alternate forwards;
}

.intro-appear {
  animation: go-up 2s ease-in-out alternate forwards, appear 3.5s ease-in-out alternate forwards;
}

@keyframes go-up {
  from {
    bottom: 12%;
  }
  to {
    bottom: 21%;
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.Mask {
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
}

.Maskmove-Home {
  position: fixed;
  z-index: 3;
  bottom: 0;
  width: 100%;
  opacity: 0;
}

.bg {
  position: fixed;
  z-index: 0;
  top: -5vw;
  width: 100%;
  right: 0px;
}
