.PhotoHeader {
  background: #4B6F90;
  position: fixed;
  width: 100%;
  z-index: 20;
  left: 0;
  top: 0;
  padding-top: 35px;
  transform: translateX(100vw);
  transition: transform 450ms ease-in-out;
  &.open-Photo {
    transform: translateX(0);
  }
}

.PhotoContainer {
  position: relative;
  width: 90vw;
  margin-left: 5vw;
  top: 10vh;
  z-index: 15;
  transform: translateX(100vw);
  transition: transform 450ms ease-in-out;
  &.open-Photo {
    transform: translateX(0);
  }
}

.PhotoExample {
  position: relative;
  display: inline-block;
  z-index: 15;
  margin-bottom: 5vh;
}

.Shape {
  position: absolute;
  display: inline-block;
  z-index: 14;
}

h6 {
  font-family: PingFangSC-Semibold, san-serif;
  position: absolute;
  z-index: 15;
  color: white;
  opacity: 0.7;
  left: -5vw;
}
